*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative; /* important for absolutely positioned text */
  overflow: hidden;
}

.hero img{
  height: 90vmin;
  width: 100%;
  object-fit: cover; 
  /* keeps aspect ratio and fills the space */ 
  display: block; 
   /* filter: blur(3.5px); */
}

.title{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  /* background-color: #000000;  */
  color: #fff; 
  padding: 10px 20px; 
  font-size: 6em; 
  text-align: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 6em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 4em;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2em;
  }
}